{% extends '/includes/layout.html.twig' %}

{% block body %}

<!-- JUMBOTRON -->

	<div id='jumbotron' class="jumbotron" style="background-image:url('{{ asset('img/background_jumbotron2.jpg') }}')">
		<h1><div class='mainText'>LA EXPERIENCIA DE JUEGOS DE ESCAPE MÁS INMERSIVA DE BUENOS AIRES</div></h1>
		<a href='{{path('reservas')}}'><div class='reservaJumbotronAhora'>RESERVÁ AHORA</div></a>
        <p>Comunicate con nosotros al <br class='d-md-none'> <strong>15 4081 7293</strong></p>
        <p>O por Whatsapp al<br class='d-md-none'> <strong>15 4891 7263</strong></p>
	</div>


<!-- JUEGOS -->
	<div id='juegos' class='row'>

			<div class='col-md-4 col-sm-12 juegosContainer'>
				<img id='ouija' class='img-fluid' src='{{asset('img/OUIJA.jpg')}}'>
				<a href='{{path('reservas')}}'><div class='reservaJuegosAhora'>RESERVÁ AHORA</div></a>
				<!-- Button trigger modal OUIJA -->
				<a type="button" data-toggle="modal" data-target=".ouija-modal-lg"><div class='masInfo'>MÁS INFORMACIÓN</div></a>
				<!-- Modal OUIJA-->
				<div class="modal fade ouija-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div id='ouijaModalBody' class="modal-body row">
								<div class='col-md-4 ouijaModalBodyContainer'>
									<img id='ouijaModalImg' class='img-fluid' src='{{asset('img/OUIJA.jpg')}}'>
								</div>
								<div class='col-md-8 modalBodyText'>
									<h5 class="modal-title" id="exampleModalLabel">Ouija: El Juego de la Copa</h5>
									<p>En este antiguo living vos y tus amigos se juntan a intentar resolver el misterio de Griselda mediante la invocacion de espiritus.</p>
									<a>Tiempo de juego: 30 minutos</a>
									<a href='{{path('reservas')}}'><div class='reservaJuegosModal'>RESERVÁ AHORA</div></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

    	<div class='col-md-4 col-sm-12 juegosContainer'>
    		<img id='saw' class='img-fluid' src='{{asset('img/SAW.jpg')}}'>
    		<a href='{{path('reservas')}}'><div class='reservaJuegosAhora'>RESERVÁ AHORA</div></a>
				<!-- Button trigger modal SAW -->
				<a type="button" data-toggle="modal" data-target=".saw-modal-lg"><div class='masInfo'>MÁS INFORMACIÓN</div></a>
				<!-- Modal SAW -->
				<div class="modal fade saw-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-lg">
				    <div class="modal-content">
							<div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div id='sawModalBody' class="modal-body row">
                <div class='col-md-4 sawModalBodyContainer'>
									<img id='sawModalImg' class='img-fluid' src='{{asset('img/SAW.jpg')}}'>
								</div>
				        <div class='col-md-8 modalBodyText'>
									<h5 class="modal-title" id="exampleModalLabel">El Juego del Miedo</h5>
									<p class='modalDescription'>Todos tenemos secretos oscuros en nuestras vidas, es hora de que paguemos por ellos. Luego de perder la conciencia despiertan en un baño abandonado. Todo a tu alrededor ha sido planeado para hacerte jugar. Deberan escapar antes que sea muy tarde y el baño sea su tumba para siempre.</p>
									<a>Tiempo de juego: 60 minutos</a>
									<a href='{{path('reservas')}}'><div class='reservaJuegosModal'>RESERVÁ AHORA</div></a>
								</div>
				      </div>
							<!-- Modal Footer (Lo comento por si lo llegamos a necesitar nuevamente, sino borrar; en los otros juegos directamente lo borré)
				      <div class="modal-footer">
				        <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
				      </div> -->
				    </div>
				  </div>
				</div>
    	</div>

    	<div class='col-md-4 col-sm-12 juegosContainer'>
    		<img id='piratas' class='img-fluid' src='{{asset('img/PIRATAS.jpg')}}'>
    		<a href='{{path('reservas')}}'><div class='reservaJuegosAhora'>RESERVÁ AHORA</div></a>
				<!-- Button trigger modal PIRATAS -->
				<a type="button" data-toggle="modal" data-target=".piratas-modal-lg"><div class='masInfo'>MÁS INFORMACIÓN</div></a>
				<!-- Modal PIRATAS -->
				<div class="modal fade piratas-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
				  <div class="modal-dialog modal-dialog-centered modal-lg">
				    <div class="modal-content">
							<div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
							<div id='piratasModalBody' class="modal-body row">
								<div class='col-md-4 piratasModalBodyContainer'>
									<img id='piratasModalImg' class='img-fluid' src='{{asset('img/PIRATAS.jpg')}}'>
								</div>
				        <div class='col-md-8 modalBodyText'>
									<h5 class="modal-title" id="exampleModalLabel">La Maldición Pirata</h5>
									<p class='modalDescription'>Jack Sparrow prometió tu alma a Davy Jones a cambio de la suya y de paso evitar pagarte el doblón de oro que te pidió prestado hace un año. Pero Jack no te abandonó a tu suerte, dejo un camino de pistas para que puedas librarte de la maldición y vuelvas a fregar los pisos del Perla Negra al ritmo de los gritos del Señor Gibbs.</p>
									<a>Tiempo de juego: 60 minutos</a>
									<a href='{{path('reservas')}}'><div class='reservaJuegosModal'>RESERVÁ AHORA</div></a>
								</div>
				      </div>
				    </div>
				  </div>
				</div>
    	</div>


	</div>
</div>


<!-- EVENTOS -->

<div id='eventos' class="container">

  <div class="card-deck">
    <div class="card bg-primary" style="background-image:url('{{ asset('') }}')">
      <div class="card-body text-center">
        <h3 class="card-text">FESTEJÁ TU CUMPLEAÑOS</h3>
        <p>Fiestas de cumpleaños, tanto para chicos como para adultos. Escape Hunt es ideal para tener tu cumpleaños soñado.</p>
				<a href='{{path('reservas')}}'><div class='eventosButton'>CUMPLEAÑOS</div></a>
      </div>
    </div>
    <div class="card bg-danger" style="background-image:url('{{ asset('') }}')">
      <div class="card-body text-center">
				<h3 class="card-text">INCREÍBLE PARA EMPRESAS</h3>
        <p>Team Building, After office, eventos corporativos: Escape Hunt es la empresa para empresas.</p>
				<a href='{{path('reservas')}}'><div class='eventosButton'>TEAM BUILDING</div></a>
      </div>
    </div>
	</div>

</div>


<!-- PRECIOS -->
<div>
    <div id='precios' class='row'>
        <div class='col-md-2 preciosContainer'></div>
        <div class='col-md-2 preciosContainer border-right'>
            <img class='img-fluid preciosImg' src='{{asset('img/icono_precios.png')}}'>
            <img class='img-fluid preciosImg' src='{{asset('img/icono_precios.png')}}'>
            <a><div class='preciosJugadores'>2 JUGADORES</div></a>
            <a><div class='preciosPesos'>$500</div></a>
            <a><div class='preciosPersona'>POR PERSONA</div></a>
        </div>
        <div class='col-md-2 preciosContainer border-right'>
            <img class='img-fluid preciosImg' src='{{asset('img/icono_precios.png')}}'>
            <img class='img-fluid preciosImg' src='{{asset('img/icono_precios.png')}}'>
            <img class='img-fluid preciosImg' src='{{asset('img/icono_precios.png')}}'>
            <a><div class='preciosJugadores'>3 JUGADORES</div></a>
            <a><div class='preciosPesos'>$450</div></a>
            <a><div class='preciosPersona'>POR PERSONA</div></a>
        </div>
        <div class='col-md-2 preciosContainer border-right'>
            <img class='img-fluid preciosImg' src='{{asset('img/icono_precios.png')}}'>
            <img class='img-fluid preciosImg' src='{{asset('img/icono_precios.png')}}'>
            <img class='img-fluid preciosImg' src='{{asset('img/icono_precios.png')}}'>
            <img class='img-fluid preciosImg' src='{{asset('img/icono_precios.png')}}'>
            <a><div class='preciosJugadores'>4 JUGADORES</div></a>
            <a><div class='preciosPesos'>$425</div></a>
            <a><div class='preciosPersona'>POR PERSONA</div></a>
        </div>
        <div class='col-md-2 preciosContainer'>
            <img class='img-fluid preciosImg' src='{{asset('img/icono_precios.png')}}'>
            <img class='img-fluid preciosImg' src='{{asset('img/icono_precios.png')}}'>
            <img class='img-fluid preciosImg' src='{{asset('img/icono_precios.png')}}'>
            <img class='img-fluid preciosImg' src='{{asset('img/icono_precios.png')}}'>
            <img class='img-fluid preciosImg' src='{{asset('img/icono_precios.png')}}'>
            <a><div class='preciosJugadores'>5 JUGADORES</div></a>
            <a><div class='preciosPesos'>$400</div></a>
            <a><div class='preciosPersona'>POR PERSONA</div></a>
        </div>
        <div class='col-md-2 preciosContainer'></div>
    </div>
</div>


<!--GOOGLE MAP -->
<div id="map" style="height: 400px"></div>


{% endblock %}
