<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{asset('css/bootstrap/bootstrap.min.css')}}">

        <title>{% block title %}Club de escape - Pilar{% endblock %}</title>

        {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('css/site.css')}}" />
        {% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container-fluid">
            
            <div id='header' class='row'>
                <div class='col-md-2 logoContainer'><img id='logo' class='img-fluid' src='{{asset('img/logo.png')}}'></div>
                <div class='col-md-8 linkContainer row'>
                    <a class='commonLink' href='#'>Juegos</a>
                    <a class='commonLink' href='#'>Cómo jugar</a>
                    <a class='commonLink' href='#'>Eventos</a>
                    <a class='commonLink' href='#'>Encontranos</a>
                    <a href='#'><div class='reservaAhora'>RESERVÁ AHORA</div></a>
                </div>
                <div class='col-md-2 socialContainer'>SOCIALES TODO</div>
            </div>
        </div>

        {% block body %}{% endblock %}

        {% block javascripts %}
        <script src="{{asset('js/jquery/jquery-3.4.0.min.js')}}"></script>
        <script src="{{asset('js/bootstrap/bootstrap.min.js')}}"></script>
        <script src="{{asset('js/bootstrap/bootstrap.bundle.min.js')}}"></script>
        {% endblock %}
    </body>
</html>
